.#{$prefix}-layout {
  &-sider-light {
    background-color: $bg-light;
    .logo {
      background-color: $bg-light;
    }
  }
  &-sider-dark {
    background-color: $bg-dark;
    .logo {
      background-color: $bg-dark;
    }
  }
}

.light {
  .#{$prefix}-layout {
    &-header {
      background-color: $bg-light;
    }
  }
}

.dark {
  .#{$prefix}-layout {
    &-header {
      background-color: $bg-dark;
    }
    &-content {
      color: rgba(255, 255, 255, 0.85);
    }
  }
}
