.quantum {
  .login-area {
    min-height: 100vh;
    height: auto;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d7d7d7;
  }
}

.login-card {
  width: 100%;
  max-width: 40rem;
}
